/* SchoolsList.css */
.schools-list {

  margin-left: 240px;
  padding: 20px;
;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schools-list h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.schools-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.schools-list ul li {
  margin-bottom: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.schools-list ul li a {
  display: block;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, color 0.2s;
}

.schools-list ul li a:hover {
  background-color: #021d3a;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}




.pagination {
  display: flex;
  float:right;
  gap: 10px;
  margin-top: 10px; /* Adjust margin as needed */
}



.pagination .left-arrow {
  float: right;
  margin-left: 10px;
  float: right;
}

.pagination .right-arrow {
  float: right;

}
