.dashboard {
    display: flex;
    flex-wrap: wrap;
    margin-left: 240px;
    gap: 20px;
  }
  
  .card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .collections-card {
    background-color: #FFD700; /* Gold */
  }
  
 
  
  .total-revenue-card {
    background-color: #32CD32; /* Lime Green */
  }
  
  .bounced-cheques-card {
    background-color: #FF6347; /* Tomato */
  }
  
  /* Additional styling for responsiveness and spacing */
  @media (max-width: 768px) {
    .dashboard {
      grid-template-columns: 1fr;
    }
  }
  